# Data transformation

In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("studen.xlsx")

In [6]:
df

       Name   Age      City Course College          Email        DOB  Gender
0       Ram  20.0     Delhi    MCA     SMS  abc@gmail.com 2002-12-12    Male
1     Shyam  22.0    Mumbai    BCA     SMS  cde@gmail.com 2004-12-13    Male
2     Rohan  21.0     Patna    BBA     SMS  dff@gmail.com 2002-12-14    Male
3     Rohit  15.0  Varanasi    BCA     SMS  ghf@gmail.com 2002-12-15    Male
4     Priti  13.0     Delhi    MCA     SMS  ggh@gmail.com 2002-12-16  Female
5     Pooja  23.0    Mumbai    MCA     SMS  tty@gmail.com 2002-12-17  Female
6   Shivam   11.0  Varanasi    BBA     SMS  gff@gmail.com 2002-12-18    Male
7      Aman  20.0  Varanasi    BCA     SMS  mki@gmail.com 2002-12-19    Male
8     Kunal  34.0     Delhi    BBA     SMS  mbb@gmail.com 2002-12-20    Male
9      Anna  11.0     Patna    NaN     SMS  bhy@gmail.com 2002-12-21    Male
10   Bhavna  23.0    Mumbai    MBA     SMS  ngf@gmail.com 2002-12-22    Male
11      Ram  20.0     Delhi    MCA     SMS  gtr@gmail.com 2002-12-23    Male
12      NaN  20.0    Mumbai    NaN     SMS  fdr@gmail.com 2002-12-24    Male
13    Vivek   NaN     Delhi    BBA     SMS  gth@gmail.com 2002-12-25    Male

In [7]:
df.sort_values("Age")

       Name   Age      City Course College          Email        DOB  Gender
6   Shivam   11.0  Varanasi    BBA     SMS  gff@gmail.com 2002-12-18    Male
9      Anna  11.0     Patna    NaN     SMS  bhy@gmail.com 2002-12-21    Male
4     Priti  13.0     Delhi    MCA     SMS  ggh@gmail.com 2002-12-16  Female
3     Rohit  15.0  Varanasi    BCA     SMS  ghf@gmail.com 2002-12-15    Male
0       Ram  20.0     Delhi    MCA     SMS  abc@gmail.com 2002-12-12    Male
7      Aman  20.0  Varanasi    BCA     SMS  mki@gmail.com 2002-12-19    Male
11      Ram  20.0     Delhi    MCA     SMS  gtr@gmail.com 2002-12-23    Male
12      NaN  20.0    Mumbai    NaN     SMS  fdr@gmail.com 2002-12-24    Male
2     Rohan  21.0     Patna    BBA     SMS  dff@gmail.com 2002-12-14    Male
1     Shyam  22.0    Mumbai    BCA     SMS  cde@gmail.com 2004-12-13    Male
5     Pooja  23.0    Mumbai    MCA     SMS  tty@gmail.com 2002-12-17  Female
10   Bhavna  23.0    Mumbai    MBA     SMS  ngf@gmail.com 2002-12-22    Male
8     Kunal  34.0     Delhi    BBA     SMS  mbb@gmail.com 2002-12-20    Male
13    Vivek   NaN     Delhi    BBA     SMS  gth@gmail.com 2002-12-25    Male

In [9]:
df.sort_values("Age",ascending=False)

       Name   Age      City Course College          Email        DOB  Gender
8     Kunal  34.0     Delhi    BBA     SMS  mbb@gmail.com 2002-12-20    Male
5     Pooja  23.0    Mumbai    MCA     SMS  tty@gmail.com 2002-12-17  Female
10   Bhavna  23.0    Mumbai    MBA     SMS  ngf@gmail.com 2002-12-22    Male
1     Shyam  22.0    Mumbai    BCA     SMS  cde@gmail.com 2004-12-13    Male
2     Rohan  21.0     Patna    BBA     SMS  dff@gmail.com 2002-12-14    Male
0       Ram  20.0     Delhi    MCA     SMS  abc@gmail.com 2002-12-12    Male
7      Aman  20.0  Varanasi    BCA     SMS  mki@gmail.com 2002-12-19    Male
11      Ram  20.0     Delhi    MCA     SMS  gtr@gmail.com 2002-12-23    Male
12      NaN  20.0    Mumbai    NaN     SMS  fdr@gmail.com 2002-12-24    Male
3     Rohit  15.0  Varanasi    BCA     SMS  ghf@gmail.com 2002-12-15    Male
4     Priti  13.0     Delhi    MCA     SMS  ggh@gmail.com 2002-12-16  Female
6   Shivam   11.0  Varanasi    BBA     SMS  gff@gmail.com 2002-12-18    Male
9      Anna  11.0     Patna    NaN     SMS  bhy@gmail.com 2002-12-21    Male
13    Vivek   NaN     Delhi    BBA     SMS  gth@gmail.com 2002-12-25    Male

In [11]:
df.sort_values(["Age","DOB"])

       Name   Age      City Course College          Email        DOB  Gender
6   Shivam   11.0  Varanasi    BBA     SMS  gff@gmail.com 2002-12-18    Male
9      Anna  11.0     Patna    NaN     SMS  bhy@gmail.com 2002-12-21    Male
4     Priti  13.0     Delhi    MCA     SMS  ggh@gmail.com 2002-12-16  Female
3     Rohit  15.0  Varanasi    BCA     SMS  ghf@gmail.com 2002-12-15    Male
0       Ram  20.0     Delhi    MCA     SMS  abc@gmail.com 2002-12-12    Male
7      Aman  20.0  Varanasi    BCA     SMS  mki@gmail.com 2002-12-19    Male
11      Ram  20.0     Delhi    MCA     SMS  gtr@gmail.com 2002-12-23    Male
12      NaN  20.0    Mumbai    NaN     SMS  fdr@gmail.com 2002-12-24    Male
2     Rohan  21.0     Patna    BBA     SMS  dff@gmail.com 2002-12-14    Male
1     Shyam  22.0    Mumbai    BCA     SMS  cde@gmail.com 2004-12-13    Male
5     Pooja  23.0    Mumbai    MCA     SMS  tty@gmail.com 2002-12-17  Female
10   Bhavna  23.0    Mumbai    MBA     SMS  ngf@gmail.com 2002-12-22    Male
8     Kunal  34.0     Delhi    BBA     SMS  mbb@gmail.com 2002-12-20    Male
13    Vivek   NaN     Delhi    BBA     SMS  gth@gmail.com 2002-12-25    Male

In [12]:
df.reset_index()

,index,Name,Age,City,Course,College,Email,DOB,Gender
0,0,Ram,20.0,Delhi,MCA,SMS,abc@gmail.com,2002-12-12,Male
1,1,Shyam,22.0,Mumbai,BCA,SMS,cde@gmail.com,2004-12-13,Male
2,2,Rohan,21.0,Patna,BBA,SMS,dff@gmail.com,2002-12-14,Male
3,3,Rohit,15.0,Varanasi,BCA,SMS,ghf@gmail.com,2002-12-15,Male
4,4,Priti,13.0,Delhi,MCA,SMS,ggh@gmail.com,2002-12-16,Female
5,5,Pooja,23.0,Mumbai,MCA,SMS,tty@gmail.com,2002-12-17,Female
6,6,Shivam,11.0,Varanasi,BBA,SMS,gff@gmail.com,2002-12-18,Male
7,7,Aman,20.0,Varanasi,BCA,SMS,mki@gmail.com,2002-12-19,Male
8,8,Kunal,34.0,Delhi,BBA,SMS,mbb@gmail.com,2002-12-20,Male
9,9,Anna,11.0,Patna,NaN,SMS,bhy@gmail.com,2002-12-21,Male
10,10,Bhavna,23.0,Mumbai,MBA,SMS,ngf@gmail.com,2002-12-22,Male
11,11,Ram,20.0,Delhi,MCA,SMS,gtr@gmail.com,2002-12-23,Male
12,12,NaN,20.0,Mumbai,NaN,SMS,fdr@gmail.com,2002-12-24,Male
13,13,Vivek,NaN,Delhi,BBA,SMS,gth@gmail.com,2002-12-25,Male

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.sort_index()

       Name   Age      City Course College          Email        DOB  Gender
0       Ram  20.0     Delhi    MCA     SMS  abc@gmail.com 2002-12-12    Male
1     Shyam  22.0    Mumbai    BCA     SMS  cde@gmail.com 2004-12-13    Male
2     Rohan  21.0     Patna    BBA     SMS  dff@gmail.com 2002-12-14    Male
3     Rohit  15.0  Varanasi    BCA     SMS  ghf@gmail.com 2002-12-15    Male
4     Priti  13.0     Delhi    MCA     SMS  ggh@gmail.com 2002-12-16  Female
5     Pooja  23.0    Mumbai    MCA     SMS  tty@gmail.com 2002-12-17  Female
6   Shivam   11.0  Varanasi    BBA     SMS  gff@gmail.com 2002-12-18    Male
7      Aman  20.0  Varanasi    BCA     SMS  mki@gmail.com 2002-12-19    Male
8     Kunal  34.0     Delhi    BBA     SMS  mbb@gmail.com 2002-12-20    Male
9      Anna  11.0     Patna    NaN     SMS  bhy@gmail.com 2002-12-21    Male
10   Bhavna  23.0    Mumbai    MBA     SMS  ngf@gmail.com 2002-12-22    Male
11      Ram  20.0     Delhi    MCA     SMS  gtr@gmail.com 2002-12-23    Male
12      NaN  20.0    Mumbai    NaN     SMS  fdr@gmail.com 2002-12-24    Male
13    Vivek   NaN     Delhi    BBA     SMS  gth@gmail.com 2002-12-25    Male